extends layout

block content

  h1 .
  img(src='../images/flame.gif', width=400)
  | #{title}
  img(src='../images/flame.gif', width=400)

  p The #{title} server is running.
  br
  br
  img(src='../images/ducks.jpg', width=400)
